body { font-family: Arial; margin:0; background:#f4f6f9; }
nav { background:#0d6efd; padding:10px; }
nav a { color:white; margin-right:10px; text-decoration:none; }
.container { padding:20px; background:white; margin:20px; }
.login { display:flex; justify-content:center; align-items:center; height:100vh; }
.login-box { background:white; padding:30px; border-radius:8px; }
.login-box input { display:block; margin:10px 0; padding:10px; width:200px; }
.btn { display:block; text-align:center; background:#0d6efd; color:white; padding:10px; text-decoration:none; }
table { width:100%; border-collapse:collapse; }
th, td { border:1px solid #ccc; padding:8px; text-align:center; }
